html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/*cropp coords*/

.controls,
.croppCoords {
    padding: 10px;
    overflow: hidden;
}

.label {
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    display: block;
    float: left;
    margin-right: 10px;
}

.input {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    outline: none;
    padding: 0 10px;
    max-width: 50px;
}

.checkbox {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    outline: none;
    padding: 0 10px;
}

/*cropping img*/

.container {
    background: #989494;
    position: relative;
    width: 500px;
    height: 500px;
    top: 120px;
    left: 225px;
}

.origin-img {
    display: block;
    width: 100%;
    height: auto;
}

.layout {
    background: rgba(37, 34, 34, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
}

.cropp {
    border: 2px solid crimson;
    cursor: move;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 250px;
    z-index: 15;
}

.crop-img {
    display: block;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2;
}

.square {
    background: crimson;
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 15;
}

.square-top-left {
    cursor: se-resize;
}

.square-top-right {
    cursor: sw-resize;
}

.square-bottom-left {
    cursor: ne-resize;
}

.square-bottom-right {
    cursor: nw-resize;
}